/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header{
    background:black; 
}
#search-bar {
    height: 30px;
    width: 189px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 5px;
    position: relative;
    left: 75%;
}
#red-header {
    background: #73000A;
    color: white;

}
#content {
    background: white;
    width: 55%;
    margin:auto;
    padding: 5px;
    border-radius: 5px;
    
}
/*Flex*/
.flex-container {
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
}

/* Images */
#top-logo {
  padding: 20px;
  text-align: center;
}
#main-image {
    width: 55%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Navigation */

#top-nav ul {
    color: white;
    top: 0%;
    font-size: 9px;
    display: inline; /*from w3 schools */
    position: absolute;
    left: 55%;
}
#top-nav  li {
    display: inline; /*from w3 schools */
    color: white;
    padding:2px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
  
}
#top-nav a {
    color: white;
    text-decoration: none;
    padding:1px;
}
#top-nav a:hover {
    color: #C62D3E; 
}

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;  /* remove the bullets */
    display:inline-block;
}

#main-nav a {
    color:white;
    text-decoration: none;  /* remove the underlines */
    border-bottom:1px solid transparent;
}

#main-nav a:hover {
    color:crimson;
    border-bottom:1px solid white;
}


#col-nav a {
    text-decoration: none;  /* remove the underlines */
    color: black;
}
#col-nav a:hover {
    color: #C62D3E; 
}
#col-nav li {
    list-style-type: none;  /* remove the bullets */
}
#column-nav a {
    text-decoration: none;  /* remove the underlines */
    color: #C62D3E;
    justify-content: space-between;
}
#column-nav li {
    list-style-type: none;  /* remove the bullets */
}
#white-nav li {
    list-style-type: none;  /* remove the bullets */
    display: inline; /*from w3 schools */
    padding:2px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
#white-nav a {
    text-decoration: none;  /* remove the underlines */
    padding:1px;
    color: black; 
}
#white-nav ul {
    position:relative;
    left:75%;
}
#white-nav a:hover {
    color: #C62D3E;
}
#black-nav a {
    text-decoration: none;  /* remove the underlines */
    padding:1px;
    color: white;
}
#black-nav li {
    list-style-type: none;  /* remove the bullets */
    display: inline; /*from w3 schools */
    padding:2px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
#colleges-schools li {
    list-style-type: none;  /* remove the bullets */
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
#colleges-schools a {
    text-decoration: none;  /* remove the underlines */
    color: white;
    margin: 0 15px 0 15px;
}
#offices li {
    list-style-type: none;  /* remove the bullets */
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
#offices a {
    text-decoration: none;  /* remove the underlines */
    color: white;
    margin: 0 15px 0 15px;
}
#tools li {
    list-style-type: none;  /* remove the bullets */
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
#tools a {
    text-decoration: none;  /* remove the underlines */
    color: white;
    margin: 0 15px 0 15px;
}
#colleges-schools, #offices, #tools {
    display: inline;
}

/* Typography */
#top-nav-h3 {
    display: inline;
}
#columns {
    margin: 10px;
    padding: 2px;
    border-radius:3px;
    flex-wrap:wrap;
}
.bold {
    font-weight: bold;
}

#white-footer {
    background: #ECECEC;
    color: black;
    font-size: small;
}
#red-footer {
    background: #73000A;
}
#red-footer h2 {
    color: white;
}
#black-footer {
    background:black;
}

/* Large Resolutions */
@media only screen and (min-width:900px) {
    .side-nav ul, .flex-container {
    display: flex;
    }
    #main-header {
        flex:1;
    }
}