/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #B0BF7A
}
#content {
    background: #C7D9AD;
    width: 75%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
/* Navigation */
#main-nav a {
    text-decoration: none;
    background: #B0BF7A;
    color: black;
    padding: 3px;
    border-radius: 3px;
}
#main-nav a:hover {
    background: #557329;
}

/* Images */
img {
    padding: 10px;
    border: 5px solid #320502;
    border-radius: 5px;
}
/* Tables */
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid forestgreen;
    padding: 4px;
}
th {
    background: #D9A3AC;
}
td {
    background: #F2CED8;
}

/* Typography */
h1 {
    color: #557329;
}
h2 {
    color: #400601;
}
#doggie {
    color: #BF6B63;
    font-style: oblique;
}
.big {
    font-size: 25px;
}